<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title th:text="${@environment.getProperty('attendance.app.name')} + ' - Attendance'"></title>
</head>

<body>

<div class="container">

    <div th:insert="fragments/navbarAttendance :: navbarAttendance"></div>

    <h4>Attendance > Report > Select Student</h4>
    <hr>

    <div th:if="${showBanner}" class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong th:text="${errorText}"></strong>
        </div>
    </div>

    <form action="#" th:action="@{/managers/attendance/exportStudent}" method="post">
        <div class="container">
            <div class="row" style="max-width: 350px;">
                <div class="col">
                    <label for="s" class="form-label label-center">Select Student</label>
                    <select id="s" name="studentPicker" class="form-control select-picker btn-pad" th:field="${chosenStudents.students}">
                        <option value="-1">None Selected</option>
                        <div th:each="student:${studentList}">
                            <th:block th:if="${student.nickName == null or #strings.length(student.nickName)<1}">
                                <option th:field="${chosenStudents.students}" th:value="${student.id}" th:text="${student.firstName} + ' ' + ${student.lastName}"/>
                            </th:block>
                            <th:block th:unless="${student.nickName == null or #strings.length(student.nickName)<1}">
                                <option th:field="${chosenStudents.students}" th:value="${student.id}" th:text="${student.nickName} + ' ' + ${student.lastName}"/>
                            </th:block>
                        </div>
                    </select>
                </div>
            </div>
            <br>
            <div class="row row-cols-4">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-pad btn-pad-top">Next</button>
                    <a href="/managers/attendance/-1" class="btn btn-danger btn-pad btn-pad-top">Back</a>
                </div>
            </div>
        </div>
    </form>

    <br>
    <div th:insert="fragments/footer :: footer"></div>

</div>

<input type="hidden" id="selectType" th:value="${selectType}">
<input type="hidden" id="selectTeacher" th:value="${teacherId}">
<script src="/js/jquery-3.6.1.min.js"></script>
<script src="/js/attendanceSelector.js"></script>
<script src="/js/bootstrap.bundle.js"></script>

</body>
</html>