<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title th:text="${@environment.getProperty('attendance.app.name')} + ' - Attendance'"></title>
</head>

<body >

<div class="container">

    <div th:insert="fragments/navbarAttendance :: navbarAttendance"></div>

    <h4>Attendance > Filter By Date Range</h4>
    <hr>

    <a th:href="${backUrl}" class="btn btn-primary btn-pad">Back</a>



    <div class="container">
        <form action="#" th:action="@{/managers/attendance/byDate/-1}" method="GET">
            <div class="row gx-2 mt-2">
                <div class="col">
                    <label for="sd" class="form-label">From Date</label>
                    <input type="date" th:name="startDate" th:value="${sdVal}" name="startDate" placeholder="From Date"
                           class="form-control mb-4 col-4" id="sd" aria-label="From Date" required>
                    <span class="help-block" th:if="${startDateError}">
                        <p class="text-danger">From Date must be equal to or before To Date.</p>
                    </span>
                </div>
                <div class="col">
                    <label for="ed" class="form-label">To Date</label>
                    <input type="date" th:name="endDate" th:value="${edVal}" name="endDate" placeholder="To Date"
                           class="form-control mb-4 col-4" id="ed" aria-label="To Date" required>
                    <span class="help-block" th:if="${endDateError}">
                        <p class="text-danger">To Date must be equal to or after From Date.</p>
                    </span>
                </div>

                <div class="col">
                    <button type="submit" id="submitBtn" class="btn btn-primary mt-4 float-end">Submit</button>
                </div>

            </div>

        </form>
    </div>
    <br>

    <div th:insert="fragments/footer :: footer"></div>

</div>

<input type="hidden" id="selectTeacher" th:value="${teacherId}">
<input type="hidden" id="selectType" th:value="${selectType}">
<script src="/js/jquery-3.6.1.min.js"></script>

</body>
</html>