<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title th:text="${@environment.getProperty('attendance.app.name')} + ' - Attendance'"></title>
</head>

<body >

<div class="container">

    <div th:insert="fragments/navbarAttendance :: navbarAttendance"></div>

    <a href="/managers/attendance/-1" class="btn btn-primary">Back</a>
    <hr>


    <div class="container">
        <h3 class="text-danger">Error</h3>
        <p th:text="${errorText}"></p>
    </div>

    <div th:insert="fragments/footer :: footer"></div>

</div>

</body>
</html>