<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title th:text="${@environment.getProperty('attendance.app.name')} + ' - Change Password'"></title>
</head>

<body>

<div class="container">

    <div th:insert="fragments/navbarNone :: navbarNone"></div>

    <h4><span sec:authentication="name">name</span> > Account Settings > Change Password</h4>
    <hr>

    <div class="container">
        <form action="#" th:action="@{/managers/account/changePassword}" th:object="${user}" method="POST">

            <div class="row" style="max-width: 350px;">
                <div class="col">
                    <label for="pw" class="form-label">New Password</label>
                    <input type="password" placeholder="Password" th:field="*{password}"
                           class="form-control mb-4 col-4" id="pw" aria-label="New Password" required/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}">
                        <p th:errors="*{password}" class="text-danger">Validation Error</p>
                    </span>
                    <span class="help-block" th:if="${pwLength}">
                        <p class="text-danger">Password must be at least 8 characters.</p>
                    </span>
                </div>
            </div>

            <div class="row" style="max-width: 350px;">
                <div class="col">
                    <label for="cpw" class="form-label">Confirm New Password</label>
                    <input type="password" placeholder="Confirm Password" th:field="*{matchingPassword}"
                           class="form-control mb-4 col-4" id="cpw" aria-label="Confirm New Password" required/>
                    <span class="help-block" th:if="${#fields.hasErrors('matchingPassword')}">
                        <p th:errors="*{matchingPassword}" class="text-danger">Validation Error</p>
                    </span>
                    <span class="help-block" th:if="${pwError}">
                        <p class="text-danger">Passwords do not match.</p>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-pad-top">Submit</button>
                    <a href="/managers/account/" class="btn btn-danger btn-pad-top">Cancel</a>
                </div>
            </div>

        </form>
    </div>
    <br><br>

    <div th:insert="fragments/footer :: footer"></div>

</div>

<script src="/js/bootstrap.bundle.js"></script>

</body>
</html>